<button id="pause-button" hidden="true">Pause</button>
<button id="reset-button" onclick="resetGame();" hidden="true">Reset</button>
<span id="game-status">Player 1 Turn</span>
<button id="new-game-button">New Game</button>
<button id="join-game-button">Join Game</button>
<input id="game-id-to-join" type="text" placeholder="game id"></input>
<span id="your-game-id">Your game id: </span>
<br><br>
<button class="add-disk-button-1" id="add-disk-col1" onclick="addDisk(1);">Add Disk</button>
<button class="add-disk-button" id="add-disk-col2" onclick="addDisk(2);">Add Disk</button>
<button class="add-disk-button" id="add-disk-col3" onclick="addDisk(3);">Add Disk</button>
<button class="add-disk-button" id="add-disk-col4" onclick="addDisk(4);">Add Disk</button>
<button class="add-disk-button" id="add-disk-col5" onclick="addDisk(5);">Add Disk</button>
<button class="add-disk-button" id="add-disk-col6" onclick="addDisk(6);">Add Disk</button>
<button class="add-disk-button" id="add-disk-col7" onclick="addDisk(7);">Add Disk</button>
<div>
  <canvas id="game-area" width="700" height="600"></canvas>
</div>
